extends layout

block content
    h1= title

    div.progress.progress-striped.active
        div.bar

block scripts
    script(src="/components/jquery/jquery.js")
    script(src="/javascripts/jqueryasync.js")