extends layout

block content
    div#churrasco

    canvas#canvas

block scripts
    script(src="/components/jquery/jquery.js")
    script(src="/components/rxjs/rx.js")
    script(src="/components/rxjs/rx.time.js")
    script(src="/components/rxjs/rx.aggregates.js")
    script(src="/javascripts/rxevents.js")